{% include 'incl/header.twig' %}

<body>
<div class="grid-wrapper">
    {% include 'incl/nav.twig' %}
    <main class="main tech-article" role="main">
        <div class="tech-article-listing">
            <ul>
            {% for page in pages("technology/") %}
                {% if page.id != current_page.id %}
                    <li>
                        <a href="{{ page.url }}">
                            <p>{{ page.title }}</p>
                        </a>
                    </li>
                {% endif %}
            {% endfor %}
            </ul>
        </div>
        <div class="tech-article-content">
            {{ content }}
        </div>    
    </main>
    {% include 'incl/footer.twig' %}
</div>
</body>

</html>
