.tech-listing {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 1 * $def-margin;
    row-gap: 1 * $def-margin;
}

.tech-article {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    column-gap: 2 * $def-margin;
    row-gap: 1 * $def-margin;
}

.tech-article ul {
    list-style-type: none;
    padding-left: 0;
}

.tech-article-listing {
    
    grid-column: 1 / 2;
}

.tech-article-content {
    grid-column: 2 / 5;
}

.tech-article-listing p {
    font-family: 'Rubik', sans-serif;
    margin: 0 0 $def-margin 0;
    font-size: 1.4rem;
}

.tech-title,
.tech-listing hr {
    margin: 0 !important;
    grid-column: 1 / 4;
}

.tech-box {
    display: flex;
    //grid-column: auto;
    flex-direction: column;
    background-color: $secondary-background-color;
    border-radius: 5px;
    min-height: 250px;
    align-content: space-between;
    box-shadow: 2px 2px 2px $box-shadow-color;
}

.tech-box-header {
    padding: 10px $def-margin;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: $secondary-color;
}

.tech-box-header h3 { 
    font-size: 1.6rem;
    margin: 0;
}

.tech-box-header:link { color: $alt-font-color; }
.tech-box-header:visited { color: $alt-font-color; }
.tech-box-header:hover { color: $alt-accent-color; }

.tech-box h4 {
    padding: 10px;
    width: auto;
    margin-bottom: 0;
}

.tech-box:last-child {
    grid-column: 1 / 4;
}

.tech-box-content {
    padding: 1 * $def-margin;
    text-align: left;
    height: auto;
}

.tech-box-content p {
    color: $font-color;
    overflow-wrap: anywhere;
}

.tech-box-link {
    display: block;
    width: auto;
    margin: auto auto $def-margin $def-margin;
    font-weight: 300;
    font-size: 1.2rem;
}

.tech-box-link:link { color: $font-color; }
.tech-box-link:visited { color: $font-color; }
.tech-box-link:hover { color: $accent-color; }
