$font-color: #333;
$alt-font-color: #e1e3e3;
$accent-color: #e67bb2;
$alt-accent-color: #e67bb2;

$background-color: #b6dee5;
$secondary-color: #538088;
$secondary-background-color: #eaf0f0;
$border-color: #ccc; 
$def-line-height: 1.4;
$def-margin: $def-line-height * 1rem;
$box-shadow-color: rgba(33, 33, 33, 0.2);
