$font-color: #e1e3e3;
$alt-font-color: #e1e3e3;
$accent-color: #e086c8;
$alt-accent-color: #e086c8;

$background-color: #1f2324;
$secondary-color: #404f52;
$secondary-background-color: #515a5c;
$border-color: #ccc; 
$def-line-height: 1.4;
$def-margin: $def-line-height * 1rem;
